<style>
  .container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .row{
    width: 50%;
  }
  .form-field{
    width: 100%;
  }
</style>
<mat-toolbar color="primary">
  <span>My Notes</span>
</mat-toolbar>
<div class="container">
  <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Title</mat-label>
      <input matInput>
    </mat-form-field> 
    </div>
    <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Add notes</mat-label>
      <textarea matInput cdkTextareaAutosize></textarea>
    </mat-form-field>
    </div>
    <div class="row" style="text-align: right;">
      <button mat-flat-button color="primary">Save</button>
    </div>

    <!--
      Expansion list
    -->
    <div class="row" style="margin-top: 15px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Title 1
          </mat-panel-title>
          <mat-panel-description>
            An mat-grid-list must specify a cols attribute which
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>An mat-grid-list must specify a cols attribute which sets the number of columns in the grid. The number of rows will be automatically determined based on the number of columns and the number of items.</p>
      </mat-expansion-panel>
    </div>

    <div class="row" style="margin-top: 15px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Title 2
          </mat-panel-title>
          <mat-panel-description>
            An mat-grid-list must specify a cols attribute which
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>An mat-grid-list must specify a cols attribute which sets the number of columns in the grid. The number of rows will be automatically determined based on the number of columns and the number of items.</p>
      </mat-expansion-panel>
    </div>

    <div class="row" style="margin-top: 15px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Title 3
          </mat-panel-title>
          <mat-panel-description>
            An mat-grid-list must specify a cols attribute which
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>An mat-grid-list must specify a cols attribute which sets the number of columns in the grid. The number of rows will be automatically determined based on the number of columns and the number of items.</p>
      </mat-expansion-panel>
    </div>

    <div class="row" style="margin-top: 15px;">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Title 4
          </mat-panel-title>
          <mat-panel-description>
            An mat-grid-list must specify a cols attribute which
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>An mat-grid-list must specify a cols attribute which sets the number of columns in the grid. The number of rows will be automatically determined based on the number of columns and the number of items.</p>
      </mat-expansion-panel>
    </div>
</div>
