<style>
  .container{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .row{
    width: 50%;
  }
  .form-field{
    width: 100%;
  }
  .mat-expansion-panel-header-title{
    flex-basis: 0;
    align-items: center;
  }

  .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

</style>
<mat-toolbar color="primary">
  <span>My Notes</span>
</mat-toolbar>
<div class="container">
  <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)] ="note.title">
    </mat-form-field> 
    </div>
    <div class="row">
    <mat-form-field class="form-field">
      <mat-label>Add notes</mat-label>
      <textarea matInput cdkTextareaAutosize [(ngModel)] ="note.body"></textarea>
    </mat-form-field>
    </div>
    <div class="row" style="text-align: right;">
      <button mat-flat-button color="primary" [disabled]="note.title == '' || note.body == ''" (click)="addNote()">Save</button>
    </div>

    <!--
      Expansion list
    -->
    
    <div class="row" style="margin-top: 15px;" *ngFor="let note of Notes">
      <mat-expansion-panel [disabled]="clickButton" (click)="clickButton=false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{note.title}}
          </mat-panel-title>
          <mat-panel-description>&nbsp;
            <button mat-icon-button (click)="delete(note._id)" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-panel-description>
        </mat-expansion-panel-header>
          {{note.body}}
        </mat-expansion-panel>
    </div>
</div>
